<mat-card class="card-home mat-elevation-z3">
  <mat-card-title class="card-title"> Adicionar serie </mat-card-title>

  <form [formGroup]="createForm" (ngSubmit)="createSerie()">
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Título da Série"
        formControlName="title"
        [(ngModel)]="serie.title"
      />
      <mat-error
        *ngIf="
          createForm.get('title').errors &&
          createForm.get('title').hasError('required')
        "
      >
        O campo <strong>título</strong> é obrigatório!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Diretor(es) da Série"
        formControlName="director"
        [(ngModel)]="serie.director"
      />
      <mat-error
        *ngIf="
          createForm.get('director').errors &&
          createForm.get('director').hasError('required')
        "
      >
        O campo <strong>diretor</strong> é obrigatório!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Gênero da Série"
        formControlName="genres"
        [(ngModel)]="serie.genres"
      />
      <mat-error
        *ngIf="
          createForm.get('genres').errors &&
          createForm.get('genres').hasError('required')
        "
      >
        O campo <strong>gênero</strong> é obrigatório!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Ano de Lançamento da Série"
        formControlName="year"
        [(ngModel)]="serie.year"
      />
      <mat-error
        *ngIf="
          createForm.get('year').errors &&
          createForm.get('year').hasError('required')
        "
      >
        O campo <strong>ano</strong> é obrigatório!
      </mat-error>
    </mat-form-field>

    <div>
      <button mat-flat-button color="primary" type="submit">Salvar</button>
      <button mat-flat-button color="warn" (click)="cancel()">Cancelar</button>
    </div>
  </form>
</mat-card>
